
@{
    ViewBag.Title = "AuthorizationError";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center text-danger">Authorization Error</h2>
<p>Please login to use  admin panel @Html.ActionLink("Home page","Index","Statistics")</p>

