<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <ul class="nav" id="side-menu">
        <li>
            <a href="@Url.Action("Index","Statistics")"><i class="fa fa-home nav_icon"></i>Dashboard</a>
        </li>

        <li>
            <a href="@Url.Action("Index","ProductManagement")"><i class="fa fa-book nav_icon"></i>Product management</a>
        </li>
        <li>
            <a href="@Url.Action("ImportGoods","ReceiveVoucher")"><i class="fa fa-th-large nav_icon"></i>Receive voucher</a>
        </li>
        <li>
            <a href="@Url.Action("NewOrder","OrderManagement")"><i class="fa fa-check-square-o nav_icon"></i>Order management</a>
        </li>

    </ul>
    <div class="clearfix"> </div>
    <!-- //sidebar-collapse -->
</nav>
