@using BussinessManagement.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{ 
    IEnumerable<Product> lstMobile = (IEnumerable<Product>)ViewBag.ListMobile;
    IEnumerable<Product> lstLaptop = (IEnumerable<Product>)ViewBag.ListLapTop;
    IEnumerable<Product> lstCamera = (IEnumerable<Product>)ViewBag.ListCamera;
}

<div class="content">
    <div class="container">
        <div class="content-top">
            <h2>New Mobile</h2>
            <div class="grid-in">
                @Html.Partial("~/Views/Product/ProductStyle1Partial.cshtml", lstMobile)
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="content-top-bottom">
            <h2>New Laptop</h2>
            @Html.Partial("~/Views/Product/ProductStyle2Partial.cshtml", lstLaptop)
            <div class="clearfix"> </div>
        </div>

        <div class="content-top">
            <h2>New Camera</h2>
            <div class="grid-in">
                @Html.Partial("~/Views/Product/ProductStyle1Partial.cshtml", lstCamera)
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </div>

