@using BussinessManagement.Models;
@model IEnumerable<Product>
<div class=" rsidebar span_1_of_left">
    <div class="of-left">
        <h3 class="cate">Categories</h3>
    </div>
    <ul class="menu">
        @foreach (var groupItem in Model.GroupBy(n => n.ProductType))
        {
            if (groupItem.Key != null)
            {
                <li>
                    <a class="color1" href="@Url.Action("ViewAllProduct","Product",new { @typeProductID=groupItem.Key.ID})">@groupItem.Key.NameTypeProdcut</a>
                
                    <ul class="cute">
                        @foreach (var item in groupItem.GroupBy(n => n.Producer))
                        {
                            if (item.Key != null)
                            {
                                <li ><a href="@Url.Action("ViewDetailProduct","Product", new {@productTypeID = groupItem.Key.ID , @producerID= item.Key.ID })">@item.Key.Name</a></li>
                            }
                        }
                    </ul>
                               
                </li>
            }
        }

    </ul>
</div>
