
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Statistic by month</h2>
<hr />
<div>
    @using(Html.BeginForm("Statistic", "StatisticMonth", FormMethod.Post))
    {
        <label>Date from:</label>
        <input type="date" name="date-from" />
        <label>Date to:</label>
        <input type="date" name="date-to" />
        <input type="submit" value="Statistic" class="btn btn-success" />
    }
</div>
<hr />
<div class="row-one">
    <div class="col-md-4 widget">
        <div class="stats-left ">
            <h5>Total</h5>
            <h4>Money</h4>
        </div>
        <div class="stats-right">
            <label>@ViewBag.StatisticMoney VND</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-mdl">
        <div class="stats-left">
            <h5>Total</h5>
            <h4>Products</h4>
        </div>
        <div class="stats-right">
            <label>@ViewBag.StatisticProduct</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-last">
        <div class="stats-left">
            <h5>Today</h5>
            <h4>Orders</h4>
        </div>
        <div class="stats-right">
            <label>@ViewBag.StatisticOrder</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<table>

</table>