@using BussinessManagement.Models;
@model IEnumerable<TheOrderDetail>
@{
    ViewBag.Title = "NewOrder";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2>Order</h2>
<br />
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="@Url.Action("NewOrder","ViewOrder")">New order</a></li>
    <li role="presentation"><a href="@Url.Action("OldOrder", "ViewOrder")">Old order</a></li>
</ul>

<br />
<hr />
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("OrderID", header: "ID"),
            grid.Column("ProductName", header: "Product"),
        grid.Column("Amount", header: "Quantity"),
        grid.Column("Price", header: "Price")
   ))