
@{
    ViewBag.Title = "NewOrder";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2>Order</h2>
<br />
<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("NewOrder","ViewOrder")">New order</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("OldOrder", "ViewOrder")">Old order</a></li>
</ul>

<br />
<hr />
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("IDOrder", header: "ID"),
            grid.Column("ProductName", header: "Product", format: p => p.TheOrderDetail.ProductName),
        grid.Column("Amount", header: "Quantity", format: p => p.TheOrderDetail.Amount),
        grid.Column("Price", header: "Price", format: p => p.TheOrderDetail.Price),
        grid.Column("Total", header: "Total", format: p => p.TheOrderDetail.Amount * p.TheOrderDetail.Price)
   ))

